/* ================================= 
  Base Styles
==================================== */


* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	background: #f0f0f0;
}


p {
    font-family: 'open-sans',sans-serif;
	font-size: .95em;
}

.main-header {
    padding:1em 0;
}

h2,
h3,
a {
	color: #093a58;
    text-decoration:none;
}

img {
    max-width:100%;
    
}

h2,
h3 {
	margin-top: 0;
    padding-top:20px;
}

h3 {
    text-align:center;
}

a {
	text-decoration: none;
}

ol,
ul {
    margin:0;
    padding:0;
    list-style:none;
}

#contact {
    text-align:center
}

#portfolio p {
    text-align:center;
}

#portfolio h2 {
    text-align:center;
}


/* ================================= 
  Layout containers
==================================== */

.container {
    width:90%;
    margin:0 auto;
}

.container2 {
    width:100%;
    margin: 0 auto;
}
/* ================================= 
  headers
==================================== */

main-header {
  text-align: center;
}

.name {
  color: #093a58;
  margin: 0;
  padding: 15px 0;
}

a:hover
{
  transition: 0.5s;
  color: #0e83cb;
}

/* ================================= 
  Navigation
==================================== */


.main-nav li a {
  padding: 10px 10px;
  margin: 10px 0;
  display: block;
  
}



/* ================================= 
  introduction
==================================== */

.introduction {
  margin: 40px 0;
  text-align: center;
}



.introduction {
  font-size: 1.2em;
  color:#808080;
}

/* ================================= 
  portfolio section
==================================== */

#portfolio {
  background: white;
  padding: 20px 0;
}

.portfolio-photos {
  margin: 0;
  padding: 0;
}

.portfolio-photos li {
  display: block;
  padding: 15px 0;
}

.portfolio-photos li p {
  padding: 10px 20px;
}
/* ================================= 
  contact section
==================================== */

.info li {
  display: block;
  margin: 30px 0;
  font-size: 0.97em;
}

.contact-details a {
  display: inline-block;
  min-height: 15px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 30px;
  margin-bottom: 8px;
}

#contact {
  padding: 40px 0 50px;
}

#contact p {
  display: block;
  padding: 20px 0;
}

/* ================================= 
  clearfix
==================================== */

	.clearfix::after {
		content: " ";
		clear: both;
		display:table;
	}

/* ================================= 
  Media Queries
==================================== */


@media (min-width: 769px) {

  .container {
    width: 80%;
  }

  .container2 {
    width: 90%;
  }

  .portfolio-photos li {
    width: 48%;
    float: left;
    margin: 0 1%;

  }

  .main-nav li a {
    background: none;
  }

  .main-nav li {
    display: inline-block;
  }

  .main-nav a {
    padding: 20px 0;
  }

  .student-pic {
    display: block;
    float: right;
   
  }

  .introduction p {
    font-size: 1.2em;
    text-align: left;
  }

  .profile-pic {
    width: 200px;
  }


  .footer-nav {
    margin-top: 20px;
    display:inline-block
  }

  .footer-nav a {
    margin-left: 20px;
  }

  .portfolio-photos li:nth-child(2n+1) {
    clear: left;
  }

  #contact p {
    font-size: 1.3em;
  }

}

@media (min-width: 1025px) {

  .container {
    width: 80%;
  }

  .container2 {
    width: 80%;
  }

  .portfolio-photos li {
    width: 31.327%;
  }

  .name {
    float: left;

  }

  .main-nav {
    float: right;
    margin-top: 10px;
  }


  .introduction {
    font-size: 1.6em;
  }

  .profile-pic {
  }

  .footer-name, 
  .footer-nav {
    font-size: 1.2em;
    
  }

  .footer-name {
      float:left;
  }

  .footer-nav {
    margin-top: 25px;
    float:right;
  }

  .footer-nav li {
      display:inline-block;
  }

  .portfolio-photos li:nth-child(2n+1) {
    clear: none;
  }

   .gallery li:nth-child(3n+1) {
    clear: left;
  }

/* ================================= 
  clearfix
==================================== */

	.clearfix::after {
		content: " ";
		clear: both;
		display:table;
	}

